<div class="container">

  <div class="row">
    <div class="col-xs-12">
       <button class="btn btn-primary" (click)="onAddNewProduct()">Add New Product</button>
    </div>
</div>

  <div class="row">
    <div *ngIf = 'productList.length == 0'>
      No products to show 
    </div>

    <div class="col-md-2" *ngFor="let productElement of productList">
      <!-- parent to child data transfer - 
          put a logic to send the productElement to productItem component for display purpose -->
          
      <app-productitem [product]="productElement"></app-productitem>
    </div>
    
  </div>
</div>
