<div class="shadow-lg -3 mb-5 bg-white rounded">

  <div>
    <h6 appOutofstock [qty] = 'product.quantity'> {{ product.title | slice:0:10 }}... </h6>
  </div>

  <hr>

  <div>
    <i> {{ product.description }} </i>
  </div>

  <hr>

  <div>
    <strong appOutofstock [qty] = 'product.quantity'> Quantity: {{ product.quantity }} </strong>
  </div>

  <hr>

  <!-- <span class="align-middle">
    <img [src]="product.imagepath" alt="{{ product.title }}" class="img-fluid" />
  </span> -->

  <!-- for custom pipe  -->
  <span class="align-middle">
    <img [src]="product.imagepath | defimg: 'https://media.wired.com/photos/5f2b2e792f0075bf6e0a1de6/2:3/w_1200,h_1800,c_limit/Gear-Sony-WH-1000XM4-1-SOURCE-Sony.jpg' " alt="{{ product.title }}" class="img-fluid" />
  </span>

  <hr>

  <div>
    <p> {{20000 | currency: 'INR' : 'symbol'}} </p>
  </div>

  <div>
    <button (click) = 'onEdit()'> Edit </button>
    &nbsp;&nbsp;
    <button (click) = 'onDelete()'> Delete </button>
  </div>

  <!-- <div *ngIf="product.comments.length == 0; else comments">
    <p style="color: red"> No Comments :( </p>
  </div>

  <ng-template #comments>
    <strong style="color: blue"> Comments: </strong>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let comment of product.comments">
       * {{ comment }}
      </li>
    </ul>
  </ng-template> -->
  
</div>

