<h3> Welcome to Angular App !!! </h3>
<!-- <app-test1></app-test1> -->
<!-- <app-product></app-product> -->
<!-- <app-employee></app-employee> -->

<!-- ngIf and ngFor  -->
<!-- <app-job></app-job> -->


<!-- parent-child-communication(property-binding) -->
<!-- <app-product></app-product> -->
<!-- <app-employee></app-employee> -->

<!-- Register-Detail-Task  -->
<!-- <app-register (registerForm) = 'onUserAdd($event)'></app-register> -->
<!-- <app-detail [userDetailsArr] = 'storeUsers'></app-detail> -->

<!-- Service communication -->
<!-- <app-product></app-product> -->

<!-- Api communication  -->
<app-product></app-product>