<div class="container">
  <div class="row">
    
     <i> User details inside Detail component </i> <hr>

    <div *ngFor = 'let user of userDetailsArr'>
      <strong> {{user.name}} </strong> <hr>
      <strong> {{user.mobileNo}} </strong> <hr>
      <strong> {{user.email}} </strong> <hr>
      <strong> {{user.address}} </strong> <hr>
      <strong> {{user.aadharNo}} </strong> <hr>
      <strong> {{user.pancardNo}} </strong> <hr>
      <strong> {{user.location}} </strong>
    </div>

  </div>
</div>