<div class="container">
  <div class="row">

    <form #productForm = 'ngForm' (ngSubmit) = 'onAddNewProduct(productForm)'>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" ngModel name ="title"
        #title = 'ngModel' required />
        <div *ngIf = 'title.touched && title.invalid'> Title is required </div>
      </div>
  
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" ngModel name ="description" 
        #description='ngModel' required/>
        <div *ngIf = 'description.touched && description.invalid'> Description is required </div>
      </div>
  
      <div class="mb-3">
        <label for="imagepath" class="form-label">ImagePath</label>
        <input type="text" class="form-control" ngModel name ="imagepath"
        #imagepath = 'ngModel' required />
        <div *ngIf = 'imagepath.touched && imagepath.invalid'> ImagePath is required </div>
      </div>
  
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" ngModel name ="quantity"
        #quantity = 'ngModel' required />
        <div *ngIf = 'quantity.touched && quantity.invalid'> Quantity is required </div>
      </div>
  
     <div *ngIf = 'editMode == false'>
      <button class="btn btn-primary mb-3" [disabled] = 'productForm.form.invalid'> Add New Product </button>
     </div>

     <div *ngIf = 'editMode == true'>
      <button class="btn btn-warning mb-3" [disabled] = 'productForm.form.invalid'> Update Product </button>
     </div>

    </form>
  </div>
</div>
